#card-section{
    padding: 14rem 0 10rem 0;
}
.hero-section{
    text-align: center;
    margin-bottom: 10rem !important;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}
.cards .card{
    height: 80%;
    width: 95%;
    background-color: #9fe3f9 !important;
    border-radius: 20px;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    position: relative;
    padding: 3px;
    margin-bottom: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    transform-style: preserve-3d;
    transition: transform 1s;
    padding: 1rem;
   
    &:hover {
        transform:rotate3d(3, 0, 0, 20deg);
      box-shadow: #26394d 0px 20px 30px -10px;
    }
}
.cards .card h1{
    font-weight: 500 ;
    color: #26394d;
    position: relative;
    z-index: 2;
}

.cards .card h1::before{
    position: absolute;
    content: '';
    background-color: #facc15cb;
    width: 6rem;
    height: 3rem;
    border-radius: 50%;
    right: 2%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.cards .card h3{
    font-weight: 700 ;
    color: #26394d;
    font-size: 1.2rem;
}
@media (max-width:667px) {
    .cards{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
    }
    .card{
        min-width: 100% !important;
    }
    .hero-section{
        margin-bottom: 4rem !important;
    }
}
@media (min-width: 668px) and (max-width: 1267px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards .card {
        min-width: 50% !important;
    }
    .hero-section{
        margin-bottom: 5rem !important;
    }
}

@media (min-width:1268px) {
    .cards{
        grid-template-columns: repeat(4,1fr);
    }
    
}
.cards .card img{
    width: 35%;
    margin: 15px auto;
    position: relative;
}
.cards .card img::before{
    position: absolute;
    content: '';
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    
}