h1,h2,span{
    color: black;
    font-weight: bold;
}
.main-color{
    color:#12baf0 ;
    animation: slideIn 1s ease-in-out;
    transition:   0.5s ease;
    
}
.border{
  width: 18rem;
  text-align: right;
  background-color: #12baf0;
  height: 0.5em;
  border-radius: 10px;
}
.btn-header{
    width: 17rem;
    height: 5rem;
    font-size: 3rem;
    padding: 10px !important;
}
hr{
    transition: background-color 0.5s ease, width 0.5s ease;
    animation: slideIn 1s ease-in-out;
}
@keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
@media (max-width:900px) {
  .header-container{
    text-align: center !important;
  }
 .flex-container{
  flex-wrap: wrap;
  flex-direction: column-reverse;
 }
 .flex-container .card-header {
  width: 100%;
  text-align: center;
 }
 .flex-container .card-header  img{
  width: 100%;
 }
}
  .circle{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #12baf0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1%;
    bottom: 2%;
  }
  .tel-icon{
    position: absolute;
    color: #fff;
    font-size: 2.5rem !important;
  }
  body{
    height: 10000px;
    color: #4573a7;
  }
  .flex-container{
    display: flex;
    justify-content: space-between;
    margin-top: 88px;
    padding-bottom: 6.25rem  !important;
  }
  img{
    width: 80%;
  }
  .card-img{
    display: flex;
    justify-content: center;
    align-items: center;
  }